/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

:root{
  --main-text-color:#060668;
  --second-text-color : #f2f2f2;
  --principal-bg-color:#f2f2f2;
  --second-bg-color:#060668;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

strong {
    color: yellow;
}

/*effets*/
.slide_in_left{

  opacity: 0;
  transform: translateX(-100px);
  animation: slideInLeft 1s ease-out forwards;
}

/* Keyframes */
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



/*header*/

.header {
    background-color: var(--principal-bg-color);
    width: 100vw;
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid black;

}

.header_title{
    color: var(--main-text-color);
   
    
}

/*presentation div*/
.presentation_div{
    background-color: var(--second-bg-color);
    color: var(--second-text-color);
    display: flex;
    gap: 20px;
    flex-direction:column;
    
 
    width: 100vw;

}
.presentation_div_container_text_img {
  margin-top: 5vh;
    max-width: 80vw;
    box-sizing:content-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; /* Aligne texte et image verticalement */
    justify-content: space-between;
    gap: 2vw; /* Optionnel : espace entre texte et image */}

.presentation_div_container_text{
    flex: 1 1 60%;            /* prend 60% de l’espace si possible */
    min-width: 300px;          /* pour éviter que le texte devienne trop petit */
}



.paragraphe1_presentation_div{
    font-size: xx-large;
    margin-left: 10vw;
    margin-top: 5vw;
}
.paragraphe2_presentation_div{
    font-size:x-large;
    margin-left: 10vw;
    margin-top: 5vw;
}

.presentation_div_container_img {
    max-width: 60vw;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80vh; /* jamais plus haut que 80% de la fenêtre */
}

.image_presentation {
    margin-top: 5vw;
    width: auto; /* Laisse la largeur s’adapter */
    max-height: 100%; /* On va définir cette hauteur via JS */
    object-fit: contain;
    display: block;
}


/* Stats */
.stats {
max-width: 80vw;
  margin-top: 5vw;
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
  background:var(--second-bg-color);
}

.stat {
  text-align: center;
  max-width: 200px;
}

.number {
  font-size: 42px;
  font-weight: 700;
  color: var(--principal-bg-color);
}

.stat p {
  margin-top: 10px;
  color: var(--second-text-color);
  font-size: 15px;
}

/* Animation */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


/*services*/
/*services*/
/*services*/

.services{
  min-height: 800px;
}
